* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: burlywood;
}

.wrapper {
    margin: 0 auto;
}

.game {
    background: transparent url('https://media.istockphoto.com/id/618757668/photo/wood-background.jpg?s=612x612&w=0&k=20&c=beUvGZhmLnOAALUkCxjfIufLfPJ8aKuMA7bwcULwWe8=') 0 0 no-repeat;
    border-radius: 5px;
    color: #333;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    /* position: relative; */
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.player {
    background-color: red;
    width: 50vh;
    height: 100px;
    align-self: flex-end;
    order: 3;
}

.cpu1 {
    background-color: blue;
    width: 100px;
    height: 50vh;
    align-self: center;
    order: 1;
}

.cpu2 {
    background-color: green;
    width: 50vh;
    height: 100px;
    order: 2;
    align-self: start;
    
    
    
}

.cpu3 {
    background-color: yellow;
    width: 100px;
    height: 50vh;
    order: 4;
    align-self: center;
} 

